# Python
.venv/
venv/
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Переменные окружения и секреты
.env

# Исходные и обработанные данные
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# Системные файлы macOS
.DS_Store
